/* -------  General Styles ------- */
body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 0px 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 22px;
  padding: 15px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-weight: 500;
}

section ul {
  font-size: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

img {
  width: 100%;
  margin: 15px 40px 15px 0px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  display: flex;
  flex-direction: column;
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 85px;
  color: #ecdbc9;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}
 
header nav ul li a {
  flex-direction: column;
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-size: 20px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  margin: 10px 30px;
}

form label {
  font-size: 20px;
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 5px
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 30px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* This applies from 480px and larger */
@media screen and (min-width: 480px) {
  body {
    height: 100%;
  }

  main section {
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  section,
  h1 {
    flex-direction: row;
  }

  section h2 {
    padding-top: 1%;
  }

  h2 , .group, header {
    flex-direction: row;
  }

  header {
    text-align: justify;
    align-items: end;
    padding-left: 5%;
  }

  .logo {
    font-size: 250%;
    width: 100%;
    align-content: center;
  }
  header nav ul li a {
    font-size: 75%;
    justify-content: flex-end;
    align-content: flex-end;
  }

  #join {
    padding-left: 10%;
  }

  #join #love {
    width: 75%;
  }

  #join #match {
    width: 25%;
    align-items: center;
  }

  #join #match form {
    height: 25%;
  }

  #join form div label {
    font-size: 50%;
  }

  #join form div input {
    font-size: 50%;
    width: 50%;
    height: 50%;
  }

  #join form div select {
    font-size: 50%;
    width: 50%;
    height: 150%;
  }

  form {
    margin:5px;
    padding: 0;
  }

  form div {
    height: 10%
  }

  form div button {
    height: 10px;
    font-size: 50%;
  }

  #love {
    align-self: stretch;
  }

  #match {
    margin:0 0 0 1%;
    width:100%;
    height:100%; /* change this from auto */
    display: block;
    align-self: center;
  }
  
  #match h2{
    font-size: 50%;
    margin: 5px;
  }

  form div label {
    font-size: 100%;
  }

  #about {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }

  #about h2 {
    flex-shrink: 1;
    align-self: center;
    font-size: 150%;
  }

  #about #one {
    padding-right: 1%
  }

  #about2 {
    display: flex;
    align-items: center;
  }

  #about #about2 img {
    width: 30%;
    align-self: center;
    margin-right: 2px;
  }

  #about2 p {
    align-self: flex-start;
    font-size: 75%;
  }

  div .equal {
    flex-grow: 1;
  }

  #download {
    align-items: center;
    padding-left: 7%;
  }

  .equal2, .equal1 {
    width: 50%
  }
  
  .equal1{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
  }

  .equal1 p {
    font-size: 50%;
    margin: 0;
  }

  .equal1 h2 {
    font-size: 150%;
  }

  .equal1 ul li {
    font-size: 50%;
  }

  #blog {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
  }

  #blog #blog2 div {
    padding: 10px;
  }

  #blog #blog2 div h3 {
    font-size: 90%;
  }

  #blog #blog2 div p {
    font-size: 75%
  }

  #blog #blog2 div img {
    width: 100%
  }

  #blog h2 {
    font-size: 175%;
  }

  #blog2 {
    flex-grow: 1;
  }

  .blog {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .blog div {
    flex-grow: 1;
    padding: 20px;
  }

  footer p {
    font-size: 75%;
  }
}